*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:hover {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

.chess{
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.block{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    height: auto;
    border: 1px solid #000;
    margin: 0 auto 50px;
    padding: 20px 20px;
}

.catalog{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 1140px;
    height: auto;
    border: 1px solid #000;
    padding-top: 20px;
    margin: 0 auto 50px;
}
.prod{
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    margin-bottom: 20px;
}
.title{
    color: darkblue;
}
.price{
    color: magenta;
}
.prod_img{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
}

.fature_item {
    width: 360px;
    height: 581px;
    background: #F8F8F8;
    margin-bottom: 30px;
}

.fature_item .pink {
    background: #F7E4E2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pink_2 {
    width: 360px;
    height: 420px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #F7E4E2;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.fature_item h3 {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-top: 25px;
}

.pgf {
    display: block;
    width: 320px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 13px;
}

.price {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-top: 18px;
}

.fature_item p, h3 {
    margin-left: 18px;
}

.overlay {
    position: absolute;
    visibility: hidden;
    width: 360px;
    height: 420px;
    background: rgba(58, 56, 56, 0.86);
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
}
.fature_item:hover .overlay {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out 0s;
    -o-transition: opacity 0.5s ease-in-out 0s;
    transition: opacity 0.5s ease-in-out 0s;
}
.add_to_card_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 138px;
    height: 43px;
    border: 1px solid #FFFFFF;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
a{
    cursor: pointer;
}

.add_to_card_block p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.products_in_cart {
    width: 602px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.order_and_price {
    /*padding-top: 113px;*/
    width: 360px;
    height: 100%;
}

.product_in_cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    margin-bottom: 20px;
}

.total_price {
    width: 360px;
    height: 214px;
    background: #F5F3F3;
    padding: 40px 42px 42px;
}


.proceed:hover {
    background: #EF5B70;
}

.total_price h5 {
    text-align: right;
    padding-bottom: 12px;
}

.total_price h4 {
    text-align: right;
    padding-right: 3px;
}

.total_price span {
    color: #EF5B70;
}

.proceed_button {
    padding-top: 40px;
    position: relative;
}

.proceed_button:before {
    content: "";
    background: #E2E2E2;
    height: 1px;
    width: 275px;
    position: absolute;
    top: 23px;
}

.product_img {
    width: 262px;
    height: 306px;
}

.cart_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 652px;
}


.description {
    position: relative;
    width: 390px;
    height: 306px;
    padding-left: 31px;
    padding-top: 22px;
}

.description h3 {
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    display: block;
    width: 200px;
    margin: 0 0 42px 0;
}

.product_decr {
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    padding-bottom: 6px;
}

.product_decr span {
    color: #EF5B70;
}

.product-close {
    position: absolute;
    right: 22px;
    top: 28px;
    margin: 0;
}
.modal{
    position: fixed;
    top: 20vh;
    left: 40vw;
    z-index: 1050;
    display: none;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.open{
    display: block;
}
.img_modal{
    width: 500px;
    height: 600px;
}
.opacity{
    opacity: 20%;
    filter: grayscale(80%)  blur(5px);
}